{:paths   ["src/main"]
 :deps    {org.clojure/clojure       {:mvn/version "1.10.1"}
           org.clojure/clojurescript {:mvn/version "1.10.773"}
           reagent/reagent           {:mvn/version "0.10.0"}
           cljs-http/cljs-http {:mvn/version "0.1.46"}}
 :aliases {:dev {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.14"}}}}}